[submodule ".registry"]
	path = .registry
	url = https://github.com/wlandau/wlandau.r-universe.dev
	branch = HEAD
[submodule "autometric"]
	path = autometric
	url = https://github.com/wlandau/autometric
	registered = false
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
[submodule "crew.aws.batch"]
	path = crew.aws.batch
	url = https://github.com/wlandau/crew.aws.batch
[submodule "crew.cluster"]
	path = crew.cluster
	url = https://github.com/wlandau/crew.cluster
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
