[submodule ".registry"]
	path = .registry
	url = https://github.com/wlandau/wlandau.r-universe.dev
	branch = HEAD
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
